{% extends 'base.html' %}

{% block title %}
    Booking Management
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Booking Management</h1>
        <!-- Booking List -->
        <div class="card">
            <div class="card-header bg-secondary text-white">
                <h2 class="mb-0">Booking List</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <!-- Table headers -->
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Slot</th>
                                <th>Vehicle Number</th>
                                <th>Contact Number</th>
                                <th>Amount</th>
                                <th>Total Time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Loop through booking data -->
                            {% for booking in bookings %}
                            <tr class="parking-animation">
                                <!-- Table data -->
                                <td>{{ booking.b_id }}</td>
                                <td>{{ booking.slot_name }}</td>
                                <td>{{ booking.b_vehicleno }}</td>
                                <td>{{ booking.b_contact }}</td>
                                <td>{{ booking.b_amount }}</td>
                                <td>{{ booking.b_totaltime }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editBookingModal{{ booking.b_id }}">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                </td>
                            </tr>
                            <!-- Modal for editing booking -->
                            <div class="modal fade" id="editBookingModal{{ booking.b_id }}" tabindex="-1" role="dialog" aria-labelledby="editBookingModalLabel{{ booking.b_id }}" aria-hidden="true">
                                <!-- Modal content for editing booking -->
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-info text-white">
                                            <h5 class="modal-title" id="editBookingModalLabel{{ booking.b_id }}">Edit Booking</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="{% url 'booking_management' user_id=user.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <input type="hidden" name="booking_id" value="{{ booking.b_id }}">
                                                <div class="form-group">
													<label for="slot">Slot:</label>
							<select class="form-control" id="slot" name="slot">
								{% for slot in slots %}
									<option value="{{ slot.s_id }}">{{ slot.s_slot }}</option>
								{% endfor %}
							</select>
							{% if slot_already_booked %}
								<small class="text-danger">This slot is already booked. Please select another slot.</small>
							{% endif %}
												</div>
                                                <div class="form-group">
                                                    <label for="vehicle_number">Vehicle Number:</label>
                                                    <input type="text" class="form-control" id="vehicle_number" name="vehicle_number" value="{{ booking.b_vehicleno }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="contact">Contact:</label>
                                                    <input type="text" class="form-control" id="contact" name="contact" value="{{ booking.b_contact }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="duration_type">Duration Type:</label>
													<select class="form-control" id="duration_type" name="duration_type">
														<option value="Hourly" {% if booking.duration_type == 'Hourly' %} selected {% endif %}>Hourly</option>
														<option value="Daily" {% if booking.duration_type == 'Daily' %} selected {% endif %}>Daily</option>
														<option value="Monthly" {% if booking.duration_type == 'Monthly' %} selected {% endif %}>Monthly</option>
													</select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="b_totaltime">Total Time:</label>
                                                    <input type="text" class="form-control" id="b_totaltime" name="b_totaltime" value="{{ booking.b_totaltime }}">
                                                </div>
												<div class="form-group">
                                                    <label for="amount">Amount:</label>
                                                    <input type="text" class="form-control" id="amount" name="amount" value="{{ booking.b_amount }}" readonly>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Button to trigger modal for adding a new booking -->
        <button class="btn btn-success mt-3" data-toggle="modal" data-target="#addBookingModal">
            <i class="fas fa-plus"></i> Add Booking
        </button>
    </div>

    <!-- Add Booking Modal -->
    <div class="modal fade" id="addBookingModal" tabindex="-1" role="dialog" aria-labelledby="addBookingModalLabel" aria-hidden="true">
        <!-- Modal content for adding booking -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="addBookingModalLabel">Add Booking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'booking_management' user_id=user.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <!-- <label for="slot">Slot:</label>
                            <input type="text" class="form-control" id="slot" name="slot"> -->
							<label for="slot">Slot:</label>
							<select class="form-control" id="slot" name="slot">
								{% for slot in slots %}
									<option value="{{ slot.s_id }}">{{ slot.s_slot }}</option>
								{% endfor %}
							</select>
							{% if slot_already_booked %}
								<small class="text-danger">This slot is already booked. Please select another slot.</small>
							{% endif %}
						</div>
                        <div class="form-group">
                            <label for="vehicle_number">Vehicle Number:</label>
                            <input type="text" class="form-control" id="vehicle_number" name="vehicle_number">
                        </div>
                        <div class="form-group">
                            <label for="contact">Contact:</label>
                            <input type="text" class="form-control" id="contact" name="contact">
                        </div>
                        <div class="form-group">
                            <label for="duration_type">Duration Type:</label>
                            <select class="form-control" id="duration_type" name="duration_type">
                                <option value="Hourly">Hourly</option>
                                <option value="Daily">Daily</option>
                                <option value="Monthly">Monthly</option>
                            </select>
							
                        </div>
                        <div class="form-group">
                            <label for="b_totaltime">Total Time:</label>
                            <input type="text" class="form-control" id="b_totaltime" name="b_totaltime">
                        </div>
						<div class="form-group">
                            <label for="amount">Amount:</label>
                            <input type="text" class="form-control" id="amount" name="amount" readonly>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add Booking</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
	 <!-- Include Bootstrap JS for alert functionality -->
	 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	 <script>
		 // Function to calculate total time based on duration type
		 $('#duration_type').change(function() {
		     var durationType = $(this).val();
		     if (durationType === 'Hourly') {
		         $('#b_totaltime').val('1');  // Assuming 1 hour for hourly duration
		     } else if (durationType === 'Daily') {
		         $('#b_totaltime').val('1');  // Assuming 1 day for daily duration
		     } else if (durationType === 'Monthly') {
		         var currentMonthDays = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate();
		         $('#b_totaltime').val(currentMonthDays);  // Days in current month for monthly duration
		     }
		 });
		 
    // Function to calculate total time based on duration type when editing a booking
    $('#editBookingModal{{ booking.b_id }}').on('show.bs.modal', function (event) {
        var modal = $(this);
        var durationType = modal.find('#duration_type').val();
        if (durationType === 'Hourly') {
            modal.find('#b_totaltime').val('1');  // Assuming 1 hour for hourly duration
        } else if (durationType === 'Daily') {
            modal.find('#b_totaltime').val('1');  // Assuming 1 day for daily duration
        } else if (durationType === 'Monthly') {
            var currentMonthDays = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate();
            modal.find('#b_totaltime').val(currentMonthDays);  // Days in current month for monthly duration
        }
    });


	 </script>
{% endblock %}
